@import './variable.scss';


// ============================ 间距 ============================
$name-list: margin padding;
$short-name: m p;
$gap: 10 16 20 25 30 35;
$type: top bottom left right lr tb;

@each $prefix in $short-name {
  $i: index($short-name, $prefix);
  @each $size in $gap {
    @each $name in $type {
      @if $name == lr {
        .#{$prefix}-#{$name}-#{$size} {
          #{nth($name-list, $i)}-left: #{$size}rpx;
          #{nth($name-list, $i)}-right: #{$size}rpx;
        }
      } @else if $name == tb {
        .#{$prefix}-#{$name}-#{$size} {
          #{nth($name-list, $i)}-top: #{$size}rpx;
          #{nth($name-list, $i)}-bottom: #{$size}rpx;
        }
      } @else {
        .#{$prefix}-#{$name}-#{$size} {
          #{nth($name-list, $i)}-#{$name}: #{$size}rpx;
        }
      }
    }
  }
}

// ============================ 字体大小 ============================
@each $size in 20, 22, 24, 26, 28, 30, 32, 34 {
  .f#{$size} {
    font-size: #{$size}rpx;
  }
}

.white {
  color: #FFFFFF;
}
.bg-white {
  background-color: #FFFFFF;
}
.min-card {
  box-shadow: 0 0 10px 4px #EEEEEE;
}

// ============================ border-radius ============================
.radius-4 {
  border-radius: 4px;
}
.radius-6 {
  border-radius: 6px;
}

// ============================ 字体颜色 ============================
.theme-text {
  color: $theme-text;
}
.assist-text {
  color: $assist-text;
}
.grey-text {
  color: $grey-text;
}
.disable-text {
  color: $disable-text;
}
.stress-text {
  color: $stress-text;
}

// ============================ 无数据样式 ============================
.nodata-wrap{
  padding-top: 300rpx;
  text-align: center;
  .nodata{
    width: 485rpx;
    height: 291rpx;
    margin: 0 auto;
  }
  .text{
    padding-top: 50rpx;
    font-size: 26rpx;
    color: #333;
  }
}